.markdown {
  p:first-child {
    @apply mt-0;
  }

  p, ul, ol {
    @apply mb-4;
  }

  ul li, ol li {
    @apply mb-0;
  }

  ul {
    @apply list-disc pl-8;
    li {
      @apply pl-3;
    }
  }

  ol {
    @apply list-decimal pl-8;
    li {
      @apply pl-3;
    }
  }

  h2, h3, h4, h5, h6 {
    @apply font-semibold text-black my-6 text-gray-700;
  }

  h5, h6 {
    @apply uppercase;
  }

  h2 { @apply text-xl; }
  h3 { @apply text-lg; }
  h4 { @apply text-lg; }
  h5 { @apply text-base; }
  h6 { @apply text-sm; }

  @screen sm {
    h2 { @apply text-4xl; }
  }

  a {
    @apply text-blue-600;

    &:hover {
      @apply text-blue-700;
    }
  }

  mark {
    @apply bg-yellow-300 px-2;
  }

  p code {
    font-size: 0.9rem;
    @apply border px-1 py-1 rounded leading-3;
    @apply text-gray-700 border-gray-300 bg-gray-100 inline-block;
  }


  dl {
    dt {
      @apply text-black text-sm font-sans font-semibold uppercase mb-2;
      + dd {
        @apply mb-4 pl-2;
      }
    }
    dd {
      @apply mb-4;
    }
  }

  blockquote {
    @apply border-l-4 border-gray-300 py-4 px-6 italic mb-4;

    p {
      @apply m-0;
    }
  }

  hr {
    @apply bg-gray-300 my-8 border-b border-gray-300;
    opacity: .5;
  }

  table {
    @apply w-full mb-5 shadow-lg;
  }

  table th {
    @apply border border-gray-400 px-2 py-1;
    @apply bg-gray-200;
  }

  table td {
    @apply border border-gray-400 px-2 py-1;
  }

}

@screen sm {
  .markdown {
    h2 { @apply text-4xl; }
    h3 { @apply text-3xl; }
    h4 { @apply text-2xl; }
    h5 { @apply text-xl; }
    h6 { @apply text-base; }
  }
}

.post-cover {
  &::after {
    @apply absolute w-full h-48 left-0 bottom-0 z-0;
    content: '';
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,.5) 100%);
  }

  &.fullscreen::after {
    @apply h-full;
    background: rgba(0,0,0,.15);
  }
}

article.dark .markdown {
  p, ul, li, h1, h2, h3, h4, h5, h6 {
    @apply text-gray-400;
  }

  code {
    @apply text-gray-400 border-gray-800 bg-gray-800;
  }

  .shiki code {
    @apply bg-transparent border-none;
  }

  blockquote {
    @apply border-gray-800;
  }

  table th {
    @apply bg-gray-800 border-gray-800 text-gray-300;
  }

  table td {
    @apply border-gray-800 text-gray-400;
  }

  hr {
    @apply border-gray-800 bg-gray-800;
  }
}

