/*! purgecss start ignore */
@import 'tailwindcss/base';
/*! purgecss end ignore */
@import 'components/resets';
@import 'tailwindcss/components';
@import 'components/markdown';
@import 'tailwindcss/utilities';

del {
  opacity: .5;
}

details > summary {
  cursor: pointer;
  @apply py-1 px-2;
}

details > summary:hover {
  background-color: rgba(0,0,0,.05);
}

.table-responsive {
  overflow: auto;
}
